<div class="container text-center">
  <h1><%= Date.today.strftime("%b %d, %Y") %></h1>
  <ul class="list-unstyled">
    <% ["ERB", "Ruby", "SCSS"].each do |tech| %>
    <li>
      I'm playing with <%= tech %>
    </li>
    <% end %>
  </ul>



</div>
